
.json-diff-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

pre.codeBlock {
  margin: 0;
  overflow: auto;
  flex: 1;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
}

div.workspace {
  flex: 1;
}

pre.codeBlock .codeLine,
pre.codeBlock .line-number,
div.codeBlock .codeLine,
div.codeBlock .line-number {
  color: black;
  display: block;
  font: normal normal 13px/16px monospace;
  font-family: Monaco, monospace;
}

pre.codeBlock.codeBlock span.code,
div.codeBlock span.code {
  display: inline-block;
  width: 100%;
}

pre.codeBlock .line-number,
div.codeBlock .line-number {
  border-right: 1px solid #eee;
  color: #bbb;
  padding-left: 0.2em;
  padding-right: 0.2em;
  text-align: right;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  -o-user-select: none;
  user-select: none;
}

pre.codeBlock .line-number span,
div.codeBlock .line-number span {
  display: block;
  padding: 0 0.5em 0 1em;
}

pre.codeBlock .cl {
  clear: both;
  display: block;
}

div.diffcontainer {
  display: none;
  margin: 0 auto;
  position: relative;
}

div.center {
  display: inline-block;
  margin-left: 2%;
  margin-top: 20%;
  text-align: left;
  text-align: center;
  vertical-align: top;
  width: 14%;
}

ul.toolbar {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 5em;
  width: 11%;
}

#report .reportTitle {
  background-color: rgba(50, 57, 88, 0.1);
  border: thin solid lightgray;
  border-radius: 4px;
  color: black;
  margin-bottom: 1em;
  padding: 5px;
  width: 15em;
}

ul.toolbar li {
  background-color: rgba(50, 57, 88, 0.1);
  border: thin solid lightgray;
  border-radius: 4px;
  color: black;
  cursor: pointer;
  line-height: 18px;
  margin-bottom: 1em;
  padding: 5px;
}

ul.toolbar li code {
  background-color: #f8f8f8;
  border: 1px solid #eaeaea;
  border-radius: 3px;
  color: #333;
  font-family: Monaco, monospace;
  font-size: 0.85em;
  line-height: 20px;
  margin: 0 2px;
  padding: 0px 5px;
}

#buttons {
  margin-bottom: 1em;
  white-space: nowrap;
}

#buttons a {
  color: #8a6d3b;
  font-size: 18px;
}

#buttons a.disabled {
  color: #999;
  cursor: auto;
}

#buttons a.disabled:hover {
  cursor: default;
  text-decoration: none;
}

#prevNextLabel {
  display: inline-block;
  text-align: center;
  width: 80%;
}

div.gutter {
  
}

div.codeLine span.diff {
  color: #c00;
  cursor: pointer;
}

div.codeLine span.eq_off,
div.codeLine span.type_off,
div.codeLine span.missing_off {
  cursor: auto;
}

div.codeLine span.eq {
  background: rgba(50, 57, 88, 0.1);
  color: #333;
}

div.codeLine span.type {
  background: rgba(220, 100, 100, 0.1);
}

div.codeLine span.missing {
  background: rgba(0, 160, 80, 0.1);
  color: green;
}

div.codeLine span.selected {
  background: #cef;
  color: #47e;
}

canvas.center {
  height: 100%;
  left: 40%;
  position: absolute;
  top: 0;
  width: 20%;
}

textarea {
  background: #f3f3f3;
  border-radius: 4px;
  min-height: 500px;
  padding: 5px;
  resize: vertical;
  white-space: pre;
  width: 100%;
  word-wrap: normal;
}

textarea.error {
  border-color: #fbc2c4;
}

pre.error {
  background: #fbe3e4;
  border: thin solid #fbc2c4;
  border-radius: 4px;
  color: #d12f19;
  display: none;
  padding: 1em;
  text-wrap: wrap;
}

span.filterBlock {
  margin-bottom: 1em;
}

span.filterBlock input {
  margin-left: 2em;
}

#report {
  height: 4em;
  margin-bottom: 1em;
  position: relative;
}

#report button {
  border-color: #36c;
  color: #36c;
  display: block;
  left: 56.5%;
  position: absolute;
  top: 0;
}

button {
  background: white;
  border: 1px solid #333;
  border-radius: 4px;
  color: #333;
  cursor: pointer;
  font-size: 1.2em;
  padding: 0.5rem 0.7rem;
}

.weak {
  color: #333;
  font-size: 0.9em;
  left: 56.5%;
  max-width: 25rem;
  padding: 0 1em 0 0;
  position: absolute;
  right: 3%;
  top: 29px;
}

p {
  margin-bottom: 1em;
}

.header {
  height: 8em;
}

span.fileInput {
  display: inline-block;
  margin-left: 2em;
  margin-top: 0.5em;
}

.throbber-loader:not(:required) {
  display: none;
}

.progress .throbber-loader:not(:required) {
  display: block;
  margin: 5px auto;
}
